<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.appmetrica.cordova.plugins.appmetrica"
    version="1.0.1">
    <name>AppMetrica</name>
    <description>AppMetrica cordova plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova</keywords>
    <engines>
        <engine name="cordova" version=">=6.4.0"/>
        <engine name="cordova-android" version=">=6.0.0"/>
        <engine name="cordova-ios" version=">=4.3.0"/>
    </engines>
    <js-module src="www/AppMetrica.js" name="AppMetrica">
        <clobbers target="window.AppMetrica" />
    </js-module>
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AppMetricaPlugin" >
                <param name="android-package" value="com.appmetrica.cordova.plugin.AppMetricaPlugin"/>
            </feature>
            <preference name="android-minSdkVersion" value="15" />
        </config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>
        <source-file src="platform/android/AppMetricaPlugin.java" target-dir="src/com/appmetrica/cordova/plugin" />
        <framework src="platform/android/metrica.gradle" custom="true" type="gradleReference" />
    </platform>
	<!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AppMetricaPlugin">
                <param name="ios-package" value="AppMetricaPlugin" />
            </feature>
        </config-file>

        <header-file src="platform/ios/AppMetricaPlugin.h" />
        <source-file src="platform/ios/AppMetricaPlugin.m" />
        <framework src="YandexMobileMetrica/Dynamic" type="podspec" spec="~> 2.6.5"/>
    </platform>
</plugin>
